<server>
    <featureManager>
        <feature>appSecurity-4.0</feature>
        <feature>servlet-5.0</feature>
        <feature>ldapRegistry-3.0</feature>
        <feature>spnego-1.0</feature>
    </featureManager>

    <ldapRegistry id="LDAP" realm="GOODLIKE.EU"
                  host="goodlike.eu" port="389"
                  baseDN="dc=goodlike,dc=eu"
                  bindDN="CN=Administrator,CN=Users,DC=goodlike,DC=eu"
                  bindPassword="Passw0rd"
                  ldapType="Custom"
                  recursiveSearch="true"/>

    <kerberos configFile="krb5.conf" keytab="gpc.keytab"/>

    <spnego id="whocares"
            servicePrincipalNames="HOST/GPC.goodlike.eu"/>

    <webAppSecurity ssoDomainNames="localhost"/>

    <application location="${whereMyWarAt}" context-root="/">
        <application-bnd>
            <security-role name="wild">
                <user name="cn=Bob,ou=people,dc=goodlike,dc=eu"/>
                <user name="uid=testuser,ou=people,dc=goodlike,dc=eu"/>
            </security-role>
            <security-role name="SSORole">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </application>
</server>
