<server>
    <featureManager>
        <feature>appSecurity-4.0</feature>
        <feature>servlet-5.0</feature>
        <feature>ldapRegistry-3.0</feature>
    </featureManager>

    <ldapRegistry id="LDAP" realm="GOODLIKE.EU"
                  host="192.168.1.6" port="389"
                  baseDN="dc=goodlike,dc=eu"
                  bindDN="cn=admin,dc=goodlike,dc=eu"
                  bindPassword="uzakashi"
                  ldapType="Custom"
                  recursiveSearch="true">
        <customFilters
                id="customFilters"
                userFilter="&amp;(uid=%v)(objectClass=inetOrgPerson)"
                groupFilter="&amp;(cn=%v)(objectClass=groupOfNames)"
                userIdMap="*:uid"
                groupMemberIdMap="groupOfNames:member"/>
    </ldapRegistry>

    <application location="${whereMyWarAt}" context-root="/">
        <application-bnd>
            <security-role name="wild">
                <user name="cn=Bob,ou=people,dc=goodlike,dc=eu"/>
                <user name="uid=testuser,ou=people,dc=goodlike,dc=eu"/>
            </security-role>
        </application-bnd>
    </application>
</server>
